Itaú Unibanco Holding S.A. (ITUB4.SA)
Nvidia (NVDA)

In [5]:
import yfinance as yf

In [9]:
nvda = yf.Ticker("NVDA")

itub = yf.Ticker("ITUB4.SA")

Corp informations

In [ ]:
display(itub)
itub.info

In [ ]:
display(nvda)
nvda.info

historical market data

In [7]:
nvda.history(period="5d")

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2024-10-14 00:00:00-04:00,136.470001,139.600006,136.300003,138.070007,232347700,0.0,0.0
2024-10-15 00:00:00-04:00,137.869995,138.570007,128.740005,131.600006,377831000,0.0,0.0
2024-10-16 00:00:00-04:00,133.979996,136.619995,131.580002,135.720001,264879700,0.0,0.0
2024-10-17 00:00:00-04:00,139.339996,140.889999,136.869995,136.929993,306435900,0.0,0.0
2024-10-18 00:00:00-04:00,138.669998,138.899994,137.279999,138.000000,175800600,0.0,0.0

Qual o período permitido ?
Qual o intervalo ?
Lista de papéis